{% extends 'base.html' %}
{% load markup %}

{% block pre-content %}
	<h1>Actions to help you <span class="goal-name">{{ goal.name }}</span></h1>
	{{ block.super }}
{% endblock pre-content %}

{% block content %}
	{% if is_wizard %}
	<p class="intro">
		When you do positive things towards your goal, you gain points,
		which you can then use to reward yourself. These are called
		<span>actions</span>, and you can set them up below.
	</p>
	
	<p>
		Remember, you&rsquo;re just creating the options you&rsquo;ll use
		later on when logging your progress; you haven&rsquo;t actually
		started logging it yet.
	</p>
	{% endif %}
	
	<hr />
	
	<Form id="action-form" method="post" action="{{ action }}">
		{% for form in formset.forms %}
			<div class="edit-action{% if forloop.last %} last{% endif %}">
				<h3>{% spaceless %}
				{% if form.instance.pk %}
					<a href="javascript:;">
						<span class="points">{{ form.instance.points }} point{{ form.instance.points|pluralize }}</span>
						<span>{{ form.instance }}</span>
					</a>
				{% else %}
					<span>New action</span>
				{% endif %}
				{% endspaceless %}</h3>
				
				<div class="panel">
					{% if not forloop.last %}
					<label>{{ form.DELETE }}&nbsp; Delete</label>
					{% endif %}
					
					{% for field in form.visible_fields %}
						{% ifnotequal field.name 'DELETE' %}
						<div class="field">
							<label for="id_{{ field.html_name }}">
							{{ field.label }}<br />
							{% if field.help_text %}
								<small class="quiet">{{ field.help_text|safe }}</small>
								<br />
							{% endif %}
							{{ field }}
							</label>
					
							{% if field.errors %}
								<p class="error-info">{{ field.errors|join:', ' }}</p>
							{% endif %}
						</div>
						{% endifnotequal %}
					{% endfor %}
					
					{% if forloop.last %}
						<h4>Feeling clever?</h4>
						<p>
							If you select the <strong>Scale</strong> option
							and select a measurement, you can change the
							<strong>action name</strong> to incorporate the
							value you enter when you come to log it. For
							example, if you enter &ldquo;walked [value]
							[measurement]&rdquo;, when you log that
							action, your logbook will say, for example:
							&ldquo;I walked <em>5 miles</em>&rdquo;.
						</p>
					{% endif %}
					
					{{ form.hidden_fields|join:'' }}
				</div>
			</div>
		{% endfor %}
		
		<div>
			{% csrf_token %}
			{{ formset.management_form }}
			<input type="hidden" name="next" value="{{ next }}" />
			<p>
				<input class="button positive" type="submit" name="save" value="Save and add another" />
				<input class="button positive" type="submit" name="continue" value="Save and continue" />
			</p>
		</div>
	</form>
{% endblock content %}

{% block sidebar %}
	{% include 'plan/sidebar.inc.html' %}
{% endblock sidebar %}

{% block javascript %}
	{{ block.super }}
	{{ formset.media }}
{% endblock javascript %}