{% extends 'base.html' %}
{% load markup %}

{% block pre-content %}
	<h1>Your plan to <span class="goal-name">{{ goal.name }}</span></h1>
	{% if not plan.pk %}
	<p>
		You&rsquo;ve not started this plan before.<br />
		To get going, just fill in a few details and click <strong>Save</strong>.
	</p>
	{% endif %}
	
	{{ block.super }}
{% endblock pre-content %}

{% block content %}
	{% if is_wizard %}
	<p class="intro">
		Here you can set a few more details about your personal plan,
		before going on to create milestones, and setup your rewards.
	</p>
	{% endif %}
	
	<hr />
	
	<Form id="plan-form" method="post" action="{{ action }}">
		{% for form in forms %}
			{% for field in form %}
				<div class="field">
					<label for="id_{{ field.html_name }}">
					{% if field.name == 'live' or field.name == 'allow_copies' %}
						{{ field }}&nbsp;{{ field.label }}
						{% if field.help_text %}
							<small class="quiet">{{ field.help_text|safe }}</small>
							<br />
						{% endif %}
					{% else %}
						{{ field.label }}<br />
						{% if field.help_text %}
							<small class="quiet">{{ field.help_text|safe }}</small>
							<br />
						{% endif %}
						{{ field }}
					{% endif %}
					</label>
					
					{% if field.errors %}
						<p class="error-info">{{ field.errors|join:', ' }}</p>
					{% endif %}
				</div>
			{% endfor %}
		{% endfor %}
		
		<div>
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}" />
			<p><input class="button positive" type="submit" value="Save" /></p>
		</div>
	</form>
{% endblock content %}

{% block sidebar %}
	{% include 'profile/sidebar.inc.html' %}
{% endblock sidebar %}

{% block javascript %}
	{{ block.super }}
	{{ start_form.media }}
{% endblock javascript %}