{% extends 'base.html' %}
{% load goalcharts %}

{% block pre-content %}
	<div class="span-15">
		{% include 'plan/title.inc.html' %}
	</div>
{% endblock pre-content %}

{% block content %}
	{% ifequal user request.user %}
		{% ifequal plan.log_entries.count 0 %}
			<p class="intro">
				This is where you log your progress.
				{% if profile.public %}As your profile is public, other
				people will be able to see your progress too.{% endif %}
			</p>
		{% endifequal %}
		<p>
			If you don&rsquo;t want others to see your progress, you
			can make your public private, by deselecting the
			<strong>Make my profile public</strong> option in your
			<a href="{% url profile %}">profile</a>.
		</p>
		
		{% if next_milestone %}
			<div id="next-milestone"{% if not next_milestone.will_reach %} class="warning"{% endif %}>
				<p>
					{% ifnotequal next_milestone.points_remaining 0 %}
						You are <strong>{{ next_milestone.points_remaining }}
						point{{ next_milestone.points_remaining|pluralize }}</strong>
						away from meeting your milestone in
						<strong>{{ next_milestone.deadline|timeuntil }}</strong>
					{% else %}
						It looks like you&rsquo;re going to hit your milestone
						in <strong>{{ next_milestone.deadline|timeuntil }}</strong>.
						Well done!
					{% endifnotequal %}
				</p>
			</div>
		{% else %}
			<div id="next-milestone" class="warning">
				<p>
					You don&rsquo;t have any upcoming milestones. Would you
					like to set some?
				</p>
				
				<p>
					<small>
						Setting realistic targets will help to boost you along
						to achieving your goal and claiming your rewards.
					</small>
				</p>
				
				<p>
					<a class="positive" href="{% url milestones_edit plan.goal.slug %}">Set some new milestones</a>
				</p>
			</div>
		{% endif %}
	{% else %}
		<p class="intro">
			This is <span>{{ user.get_full_name|default:user.username }}</span>&rsquo;s
			logbook, where {{ gender }} updates his progress. You can leave
			an encouraging comment below.
		</p>
	{% endifequal %}
	
	<hr />
	{% actions_chart plan 590 100 '99317A' 'yes' %}
	
	<form id="log-form" method="post" action="{{ action }}">
		{% load content_info %}
		{% if request.user == user and request.user.is_authenticated %}
			<ul class="log-options">
				<li>
					<a href="#form1" class="selected">Log an action</a>
				</li>
				<li>
					<a href="#form2">Post a comment</a>
				</li>
			</ul>
		{% endif %}
		
		{% for form in forms %}
			{% include 'plan/entry-form.inc.html' %}
		{% endfor %}
		
		{% csrf_token %}
		
		{% for field in start_form %}
			{% if field.errors %}<p class="error-info">{{ field.errors|join:', ' }}</p>{% endif %}
		{% endfor %}
	</form>
	
	<div id="log">
		<a id="entries"></a>
		{% for entry in entries.object_list %}
			{% include 'plan/entry.inc.html' %}
		{% endfor %}
		
		<div class="page-links">
			{% if entries.has_next %}
				<div class="page-next">
					&lt; <a href="?page={{ entries.next_page_number }}#entries">Older entries</a>
				</div>
			{% endif %}
			{% if entries.has_previous %}
				<div class="page-prev">
				{% ifequal entries.previous_page_number 1 %}
					<a href="{{ request.path }}#entries">Newer entries</a>
				{% else %}
					<a href="{{ request.path }}?page={{ entries.previous_page_number }}#entries">Newer entries</a>
				{% endifequal %} &gt;
				</div>
			{% endif %}
		</div>
	</div>
{% endblock content %}

{% block sidebar %}
	{% include 'profile/sidebar.inc.html' %}
{% endblock sidebar %}

{% block javascript %}
	{{ block.super }}
	
	{% for form in forms %}
		{{ form.media }}
	{% endfor %}
	
	<script type="text/javascript">
		$(document).ready(
			function() {
				actions = {{ actions_serialized|safe }};
				measurements = {{ measurements_serialized|safe }};
			}
		);
	</script>
	
	<script type="text/javascript" src="{{ MEDIA_URL }}js/logbook.js"></script>
{% endblock javascript %}