<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>transphorm.me</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print" />
		<!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, projection" />
	</head>
	
	<body>
		<div class="wrap" id="header">
			<div class="container">
				<div class="span-4">
					<a class="site-name" href="/">Transphorm<span>.me</span></a>
				</div>
				
				<div class="span-9 prepend-11 last">
					{% if request.user.is_authenticated %}
					Logged in as <a href="{% url profile %}">{{ request.user.username }}</a>
					|
					<a href="{% url logout %}">Logout</a>
					{% else %}
					You&rsquo;re not logged in |
					<a href="{% url login %}">Login</a>
					{% endif %}
				</div>
			</div>
		</div>
		
		<div class="wrap" id="content">
			<div class="container">
				{% if messages %}
					<div class="success flash">
						{{ messages|join:'<br />' }}
					</div>
				{% else %}
					{% if anonymous_messages %}
						<div class="success flash">
							{{ anonymous_messages|join:'<br />' }}
						</div>
					{% endif %}
				{% endif %}
				
				{% if unclaimed_rewards %}
					{% ifnotequal unclaimed_rewards.count 0 %}
					<div class="unclaimed-rewards">
						<p>Congratulations! You can now claim your
						{% for reward in unclaimed_rewards %}{% if not forloop.first %},{% endif %}{% if forloop.last %} or {% endif %}<a href="{% url rewards_claim reward.plan.goal.slug reward.pk %}">{{ reward }}</a>{% endfor %}
						</p>
					</div>
					{% endifnotequal %}
				{% endif %}
				
				{% block pre-content %}{% endblock %}
				
				<div class="span-15 border">
					{% block content %}{% endblock %}
				</div>
				
				<div class="span-9 last" id="sidebar">
					{% block sidebar %}{% endblock %}
				</div>
			</div>
		</div>
		
		<div class="wrap" id="footer">
			<div class="container">
				<p>&copy; {% now "Y" %} <a href="http://moxypark.co.uk" rel="external">Moxy Park</a> | Originally built for <a href="http://djangodash.com" rel="external">Django Dash</a></p>
			</div>
		</div>
		
		{% block javascript %}
			<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.3/jquery.tools.min.js"></script>
			<script type="text/javascript" src="{{ MEDIA_URL }}js/functions.js"></script>
			<script type="text/javascript">
				setTimeout(
					function() { 
						$('.success.flash').slideUp();
					},
					2000
				);
			</script>
		{% endblock %}
	</body>
</html>