<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>transphorm.me</title>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/screen.css" type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/print.css" type="text/css" media="print" />
		<!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/blueprint/ie.css" type="text/css" media="screen, projection" /><![endif]-->
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen, projection" />
	</head>

	<body>
		<div class="wrap" id="header">
			<div class="container">
				<span class="site-name">transphorm.me</span>
			</div>
		</div>
		
		<div class="wrap" id="content">
			<div class="container">
				{% block pre-content %}{% endblock %}
				<div class="span-16 border">
					{% block content %}{% endblock %}
				</div>
				
				<div class="span-8 last" id="sidebar">
					{% block sidebar %}{% endblock %}
				</div>
			</div>
		</div>
		
		<div class="wrap" id="footer">
			<div class="container">
				<p>&copy; {% now "Y" %} Moxy Park | Originally built for <a href="http://djangodash.com" rel="external">Django Dash</a></p>
			</div>
		</div>
		
		{% block javascript %}
			<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.3/jquery.tools.min.js"></script>
		{% endblock %}
	</body>
</html>