{% extends 'base.html' %}

{% block pre-content %}
	<h1>If you could <span>change one thing</span> about your life...</h1>
{% endblock pre-content %}

{% block content %}
	<p class="intro">
		Transphorm.me helps you make a change in your life, track
		your progress with <span>points</span> and
		<span>rewards</span>, and share your progress with friends.
	</p>
	
	<form id="start-form" method="post" action="{% url start %}">
		<div>
			{% for field in start_form %}
			<label{% if field.errors %} class="error"{% endif %} for="id_{{ field.html_name }}">I want to {{ field }}</label>
			{% endfor %}
			
			<input class="button positive" type="submit" value="Let&rsquo;s go!" />
			{% csrf_token %}
		</div>
		
		{% for field in start_form %}
			{% if field.errors %}<p class="error-info">{{ field.errors|join:', ' }}</p>{% endif %}
		{% endfor %}
	</form>
	
	<div id="log">
		<h3>Latest updates from members</h3>
		{% for entry in latest_log_entries %}
			{% include 'plan/entry.inc.html' %}
		{% endfor %}
	</div>
{% endblock content %}

{% block sidebar %}
	{% include 'sidebar.inc.html' %}
	<h2>Follow us on Twitter</h2>
	<p>@<a href="http://twitter.com/transphormme" rel="external">transphormme</a></p>
{% endblock sidebar %}

{% block javascript %}
	{{ block.super }}
	{{ start_form.media }}
{% endblock javascript %}