{% extends 'base.html' %}

{% block body %}
	<h1>If you could change one thing about your life...</h1>
	
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Integer eget eros risus, vitae posuere quam. Praesent nisl
		eros, mattis vel pretium volutpat, mollis sit amet velit.
	</p>
	
	<p>
		Sed id leo nunc, sed pellentesque eros. Nunc congue, ligula
		eget tempor semper, ipsum diam commodo orci, eu condimentum
		tellus dolor eget nulla. Integer placerat, ante eu porta
		pharetra, erat libero bibendum nibh, sit amet tincidunt odio
		ipsum blandit lectus. Praesent accumsan pharetra tincidunt.
	</p>
{% endblock body %}